/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
@font-face {
    font-family: 'DmSans-Bold';
    src: url('static/assets/fonts/DM_Sans_Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DM Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Bold'), url('DMSans-Bold.woff') format('woff');
    }
@font-face {
    font-family: 'DmSans-ExtraLight';
    src: url('/static/assets/fonts/DM_Sans/static/DMSans-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/static/assets/fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/static/assets/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('/static/assets/fonts/Inter-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('/static/assets/fonts/InterTight-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Light';
    src: url('/static/assets/fonts/InterTight-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
.wrapper {
    background-image: url(/static/assets/images/background1.png);
    background-repeat: repeat;
}
._container{
    width: 90%;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0px 30px;
    max-width: 1400px;
}
h1 {
    font-family: 'Inter-Bold';
}
.title1{
    font-family: 'Inter-Bold';
    font-size: 55px;
    color: #5190DC;
}
/*------------------------------------------------------------------------*/
.login__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__wrapper{

    width: 630px;
    height: 630px;
    background: linear-gradient(350deg, #438CD8, #808FE8);   
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 0px 35px 15px #426E9C
}
.auth__switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #FFFFFF;
    height: 44px;
    width: 320px;
    border-radius: 46px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.student__switch,
.emploer__switch {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Montserrat-Regular';
    cursor:pointer;
}
.auth__switch .active{
    border-radius: 46px;
    background: #FFFFFF;
    color: #4D8DDB;
    transition: .4s;
    transform: translateX(0px);
}
.auth__switch .active .emploer__switch::before {
    transform: translateX(26px);
    
}

.login__title h1,
.register__title h1{
    font-family: 'Inter-Bold';
    color: #FFFFFF;
    font-size: 46px;
    cursor: default;
}
.login__title {
    margin-bottom: 30px;
}

.login__form__wrapper {
}
.login__form,
.register__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: default;
}
.register__form__item {
    width: 100%;
}
.login__form input,
.register__form input,
.register__form select,
.register__form__item__input{
    font-family: 'Inter-Light';
    width: 440px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;  
    padding-left: 25px;
    color: #FFFFFF;
    padding-right: 10px;
    
}
.login__form input::placeholder,
.register__form input::placeholder {
    color: #FFFFFF;
    font-family: 'Inter-Light';
    opacity: 1; 
}
.login__form label,
.register__form label ,
.register__form__item__title{
    font-family: 'Inter-Medium';
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 25px;
}
#auth_btn {
    background: #FFFFFF;
    border-radius: 46px;
    height: 60px;
    width: 390px;
    color: #4D8DDB;
    font-size: 25px;
    margin-top: 27px;
    font-family: 'Montserrat-Bold';
}
.login__subtext {
    color: #FFFFFF;
    font-family: 'Montserrat-Bold';
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat-Regular';
}
.login__subtext a{
    color: #FFFFFF;
    font-family: 'Montserrat-Bold';
    border-bottom: 1px solid #ffffff;
}
.regiser__container {
    display: flex;
    justify-content: center;

}
.regiser__wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 35px 20px 35px 20px;
    width: 650px;
    background: linear-gradient( #438CD8, #808FE8); 
    border-radius: 35px; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.groupNumber__underText {
    font-size: 15px;
    font-family: 'Inter-Light';
    opacity: 0.8;
    color: #FFFFFF;
    margin-top: 6px;
}
.student_checkbox_block {
    margin-top: 20px ;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#student_check {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.checkbox__item__title{
    font-size: 20px;
    font-family: 'Montserrat-Regular';
    margin-top: unset;
    margin-bottom: unset;
    color: #FFFFFF;
}
.register__form__university__item,
.register__form__groupnumber__item, 
.register__city__item,
.register__company__item,
.student__checkbox__item{
    display: none;
}
.student .register__form__university__item,
.student .register__form__groupnumber__item,
.student .student__checkbox__item {
    display: unset;
}
.emploer .register__city__item,
.emploer .register__company__item{
    display: unset;
}
/*------------------------------------------------------------------------*/
header {
    background: linear-gradient( #5198DC, #7C95E7); 
}
.header__container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo {
    margin-right: 10px;
}
.logo__example {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: #FFFFFF;
    
}
.header__logo__title h1{
    color: #FFFFFF;
    font-size: 17px;
}
.header__right {
}
.users__submenu__items {
    margin-top: 6px;
    padding: 10px 4px 10px 4px;
    width: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -60px;
    border: 2px solid transparent;
    background: 
    linear-gradient(#fff, #fff) padding-box, 
    linear-gradient(175deg, #808EE8, #5499DE) border-box;
    border-radius: 20px;
    visibility: hidden;
}
.users__submenu__items.active{
    visibility: visible;
}
.users__submenu__item {
    width: 140px;
    height: 30px;
}
.users__submenu__item a{ 
    font-family: 'Montserrat-Regular';
    font-size: 14px;

}
/*------------------------------------------------------------------------*/

.account__container {
    padding-top: 80px;
}

.account__inner__header {
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}
.account__header__left {
    display: flex;
    flex-direction:column ;
}
.account__header__title h1{
    font-family: 'Montserrat-Bold';
    font-size: 55px;
    color: #5190DC;
}

.order__cv__btn {
    margin-top: 9px;
    width: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5190DC;
    height: 50px;
    border-radius: 45px;
    font-family: 'DmSans-Bold';
    font-size: 30px;
    color: #5190DC;
}
.user__avatar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 164px;
    border: 6px solid #5190DC ;
    border-radius: 50%;
}
.user__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обеспечивает покрытие области без искажений */
    border-radius: 50%; /* Закругляет само изображение */
}
.edit__avatar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.edit__avatar__item img{
    margin-right: 6px;

}
.edit__avatar__item a{
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    color: #5190DC;
}
.account__inner__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
}
.account__cv__form__block {
    width: 840px;
    background: linear-gradient(90deg, #5198DC, #7C95E7); 
    border-radius: 20px;
    padding: 40px 30px 30px 35px;
    margin-right: 30px;
}
.account__cv__form {
}
.cv_name_item {
}
.cv__form__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.cv__form__title {
    height: 44px;
    border-radius: 10px;
    background: #FFFFFF;
    color: #5190DC;
    padding:  10px 20px 10px 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.cv__form__title h4 {
    font-family: 'Inter-Bold';
    font-size: 25px;
    text-wrap: nowrap;
}
.cv__form__input {
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width:100%;
    color: #FFFFFF;
    background: linear-gradient(#5198DC, #7C95E7);
    font-size: 20px;
    font-family: 'Inter-Bold';
    padding: 12px 20px 12px 20px;
}
.cv__form__input option {
    background-color: #438CD8; /* Light blue background */
    color: #FFFFFF;
    font-family: 'Inter-Bold';
}
.birthDate__item {
}
.univercity__item {
}
.groupnumber__item {
}
.cv__form__footer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cv__student__check {
    display: flex;
    flex-direction: row;
}
.cv__student__check input {
    width: 24px;
    height: 24px;
    background: none;
    border: 1px solid #FFFFFF;
}
.cv__student__check h6{
    font-family: 'Inter-Bold';
    font-size: 25px;
    margin-left: 26px;
    color: #FFFFFF;
    line-height: 100%;
}
.cv__save__btn {

}
.cv__save__btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 44px;
    color: #5190DC;
    border: 1px solid #5190DC;
    background: #FFFFFF;
    border-radius: 45px;
    font-family: 'Inter-Bold';
    font-size: 20px;
    
}

.account__cv__preview {
    display: flex;
    flex-direction: column;
}
.cv__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 230px;
    border-radius: 25px;
    background: linear-gradient(90deg, #5198DC, #7C95E7);
    margin-bottom: 20px; 
}
.cv__demo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #9CA6F9;
    opacity: 0.5;
    width: 190px;
    height: 40px;
    border-radius: 100px;
}
.cv__demo a{
    color: #FFFFFF;
    font-family: 'Inter-Bold';
    font-size: 14px;
}

.download__preview {
    border: 1px solid #5598DE;
    width: 230px;
    height: 44px;
    color: #5498DE;
    border-radius: 45px;
    display: flex;
    font-family: 'Inter-Bold';
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
}
.cv__generation__preview__item__open {

}

.cv__form__input.small-textarea {
    height: 44px;
}
.cv__form__input.large-textarea {
    height: 150px; /* Задаем большую высоту */
    resize: vertical; /* Разрешаем изменение размера */
}

.person-icon-container {
    position: relative;
    display: inline-block;
}

.person-menu {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    background: linear-gradient(90deg, #5198DC, #7C95E7); /* Matches your current gradient styles */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 1000;
    min-width: 180px;
    border: 1px solid #ddd;
}

.person-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.person-menu li {
    padding: 10px 20px;
}

.person-menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat-Regular';
    display: block;
    font-size: 18px;
    transition: background 0.3s;
}

.person-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Adds a subtle hover effect */
}

.person-icon-container img {
    cursor: pointer;
}
/*------------------------------------------------------------------------*/

.cv__generation__container {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cv__generation__left {
    margin-top: 70px;
    width: 60%;
    padding-right: 20px;
}
.cv__generation__title {

}
.cv__generation__item {
    margin-top: 30px;
    background: linear-gradient(90deg, #5198DC, #7C95E7);
    padding: 35px 35px 10px 35px;
    border-radius: 20px;
}
.graduate__item input {
    height: 30px;
    width: 30px;
}
.graduate__item h2{
    font-family: 'Inter-Bold';
    color: #fff;
    font-size: 25px;
    margin-left: 20px;
}
.skills__item .cv__form__input{
    padding: 8px 20px 8px 20px;
}
.links__item .cv__form__title,
.links__item .cv__form__input{
    height: 72px;
}
.cv__generation__right {
    margin: 70px 30px 0px 30px;
    width: 55%;
}


.cv__generation__preview__title h2 {
    font-family: 'Inter-Bold';
    font-size: 35px;
    color: #5190DC;
    text-align: center;
}
.cv__generation__preview__items {
    width: 100%;
    margin-top: 54px;
    padding: 25px 40px 10px 40px;
    border: 6px solid transparent;
    background: 
    linear-gradient(#5499DE, #5499DE) padding-box, 
    linear-gradient(45deg, #9CC7F1, #9CA6F9) border-box;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 16px;
}
.cv__generation__preview__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cv__generation__preview__item>* {
    margin-bottom: 15px;
}
.cv__generation__preview__item.active .cv__generation__preview__item__title{
    font-family: 'Inter-Bold';
    font-size: 25px;
    color: #fff;
}
.cv__generation__preview__item__title{
    font-family: 'Inter-Bold';
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}
.cv__generation__preview__item__elem {
    height: 270px;
    width: 195px;
    border: 6px solid transparent;
    background: 
    linear-gradient(#fff, #fff) padding-box, 
    linear-gradient(175deg, #fff, #A2C8FA) border-box;
}
.cv__generation__preview__item__elem img{
    height: 258px;
}
.cv__preview {
}
.cv__generation__preview__item__open{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    color: #5190DC;
    border: 1px solid #5190DC;
    background: #FFFFFF;
    border-radius: 100px;
    font-family: 'Inter-Bold';
    font-size: 18px; 
}
.cv__generation__create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    background-color: #5499DE;
    border: 1px solid #5598DE;
    color:#FFFFFF;
    font-family: 'Inter-Bold';
    font-size: 20px; 
    border-radius: 46px;
}
/*------------------------------------------------------------------------*/
.main__container {
    height: 100vh;
}
.main__page__header {
    position: absolute;
    width: 80%;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__page__header__left {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    align-items: center;
}
.main__page__header__logo {
    width: 86px;
    height: 86px;
    border-radius: 100%;
    background: #6DB5FF;
    margin-right: 20px;
}
.main__page__header__logo__title {
}
.main__page__header__logo__title h1 {
    font-family: 'Inter-Bold';
    font-size: 25px;
    font-weight: 500;
    line-height: 120%;
    background-image: linear-gradient(110deg,#438DD9,#96A8F9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__page__header__right {
    display: flex;
    align-items: center;
    
}
.main__page__auth__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #438CD8, #808FE8);
    color: #FFFFFF;
    font-family: 'Montserrat-Bold';

    font-size: 20px;
    width: 155px;
    height: 50px;
    border-radius: 46px;
}
.main__page__humans__image {
    position: absolute;
    top: 0;
    right: 0;


}
.main__page__humans__image img{
    height: 100vh;
    object-fit: cover;
}

.main__page__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.main__page__title {
    padding-top:20px ;

}
.main__page__title h1{
    font-family: 'Inter-Bold';
    font-size: 80px;
    font-weight: 700;
    background-image: linear-gradient(140deg,#428CD8,#7F8FE8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 110%;


}
.main__page__subtitle {
    display: flex;
    flex-direction: row;
}
.main__page__subtitle h6{
    font-family: 'Inter-Medium';
    font-size: 40px;
    color:#668EE2;

    line-height: 100%;
}
.main__page__subtitle__static__txt {margin-right: 6px;}
.main__page__subtitle__dynamic__txts h6{
    font-family: 'Inter-Medium';
    font-size: 40px;
    color:#668EE2;
    line-height: 100%;
}
.main__page__border {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    border-left: 2px solid #007AFF;
}
.main__page__offer h6{
    font-family: 'Montserrat-Regular';
    color: #418BD7;
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 30px;
}
.main__page__offer h6 span{
    font-family: 'Montserrat-Bold';
}
.main__page__regist__btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 60px;
    border-radius: 46px;
    background: linear-gradient(90deg, #408BD7, #808EE8);
    color:#FFFFFF;
    font-family: 'Montserrat-Bold';
    font-size: 20px;
}
.main__page__partners__section__container {
    padding-top: 40px;
    padding-bottom: 60px;
}
.main__page__partners__section__title {
    font-size: 60px;
    font-family: 'Montserrat-Bold';
    background-image: linear-gradient(140deg, #428CD8, #7F8FE8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__page__partners__section__items {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.main__page__partners__section__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 33, 33, 0.2);;
}
.main__page__partners__section__item img{
    width: 90%;
    object-fit: contain;
    max-height: 190px;
}
.main__page__partners__section__button a{
display: flex;
align-items: center;
justify-content: center;
width: 450px;
height: 60px;
border-radius: 46px;
background: linear-gradient(90deg, #408BD7, #808EE8);
color: #FFFFFF;
font-family: 'Montserrat-Bold';
font-size: 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px 0px;
}
.contacts__wrapper{
    position: fixed;
    right: 30px ;
    bottom: 30px;
}
.contacts__wrapper img {
    width: 40px;
    height: 40px;
}
/*------------------------------------------------*/
.contacts__wrapper{
    position: fixed;
    right: 30px ;
    bottom: 30px;
}
.contacts__wrapper img {
    width: 40px;
    height: 40px;
}
/*------------------------------------------------*/
.hr__page__container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 440px 1fr;
    grid-column-gap: 60px;
}
.hr__page__filter__block {
    
    
}
.hr__page__filter {
    background: linear-gradient(90deg, #7C96E7, #5298DD);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 16px 30px;
    box-shadow: 0px 0px 20px 1px #426E9C
}
.region__item {
}
.filter__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter__item select, 
.filter__item input{
    height: 30px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 0 10px 0 14px;
}
.regin__item__title {
}
.filter__item__title h4 {
    height: 30px;
    width: 170px;
    background: #FFFFFF;
    color: #5190DC;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
    font-family: 'Inter-Bold';
    font-size: 18px;
}
.direction__item {
}
.direction__item__title {
}
.university__item {
}
.university__item__title {
}
.skills__item {
}
.skills__item__title {
}
.age__item {
}
.age__item__title {
}
.projects__item {
}
.projects__item__title {
}
.filter__button__item {
   display: flex;
   justify-content: center;
}
.filter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 180px;
    border-radius: 12px;
    background: #FFFFFF;
    font-family: 'Inter-Bold';
    font-size: 24px;
    color: #5190DC;
}
.hr__page__main__inner {
}
.candidates__items__search {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.candidates__items__search input {
    width: 100%;
    height: 44px;
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid #007AFF;
    padding-right: 50px;
}
.candidates__search__btn {
    margin-left: -40px;
}
.candidates__items {
    margin-top: 24px;
}
.candidate__item {
    border: 1px solid #007AFF;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 45px;
    border-radius: 20px;
margin-bottom: 40px;
}
.candidate__item__main {
    display: flex;
    flex-direction: column;
}
.candidate__name h2{
    font-family: 'Montserrat-Bold';
    font-size: 32px;
    margin-bottom: 12px;
}
.candidate__city ,
.candidate__university,
.candidate__direction{
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    margin-bottom: 8px;
}

.candidate__direction {
    margin-bottom: 32px;
}
.candidate__skills__items {
    display: flex;
    flex-direction: row;
}
.candidate__skill__item {
    background: #5190DC;
    padding: 4px 10px 4px 10px;
    margin-right: 20px;
    border-radius: 12px;
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    color: #FFFFFF;
}
.candidate__item__photo img{
    
    object-fit: contain;
    height: 200px;
    border-radius: 20px;
}