<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="login__container _container">
            <div class="login__wrapper">
                <div class="login__title">
                    <h1>АВТОРИЗАЦИЯ</h1>
                </div>
                <div class="login__form__wrapper">
                        <form action="" class="login__form">
                            <label for="email_input">Почта</label>
                            <input type="email" id="email_input" placeholder="kip@yandex.ru">
                            <label for="password_input">Пароль</label>
                            <input type="password" id="password_input" placeholder="***********">
                            <input type="submit" value="ВОЙТИ" id="auth_btn">
                        </form>
                </div>
                <div class="login__subtext">
                    Нет аккаунта?<br/>
                    <a href="">Зарегистрируйся</a>
                </div>
                
            </div>

        </div>
    </div>
</body>
</html>