<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="wrapper">
    <main>
        <div class="main__container _container">
            <div class="main__page__humans__image">
                <img src="static/images/humans__image.png'" alt="">
            </div>
            <div class="main__page__header">
                <div class="main__page__header__left">
                    <div class="main__page__header__logo"></div>
                    <div class="main__page__header__logo__title"><h1>Карьерный<br>Инженерный<br>Портал</h1></div>
                </div>
                <div class="main__page__header__right">
                    <a href="login.html" class="main__page__auth__btn">ВОЙТИ</a>
                </div>
            </div>
            <div class="main__page__inner">
                <div class="main__page__title">
                    <h1>Карьерный<br>Инженерный<br>Портал</h1>
                </div>
                <div class="main__page__subtitle">
                    <h6>Ваш старт <br>в робототехнике</h6>
                </div>
                <div class="main__page__offer">
                    <h6><span> Создай резюме за 3 минуты</span> <br> и найди работу в инженерии <br>через платформу КИП</h6>
                </div>
                <div class="main__page__regist__btn">
                    <a href="register.html">ЗАРЕГИСТРИРУЙСЯ</a>
                </div>
            </div>
        </div>
    </main>
    </div>
</body>
</html>