<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карьера Инженера</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="top-section">
                <div class="logo">
                    <div class="circle"></div>
                    <h1>Карьерный Инженерный Портал</h1>
                </div>
                <button class="login-btn">ВОЙТИ</button>
            </div>
            <h2>Ваш старт в робототехнике</h2>
            <p>Создай резюме за 3 минуты и найди работу в инженерии через платформу КИП</p>
            <a href="#" class="button">Зарегистрируйся</a>
        </div>
        <div class="image-section">
            <img src="{{ url_for('static', filename='images/students-image.png') }}" alt="Students taking a selfie" class="students-image">
        </div>
    </div>
</body>
</html>
