<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__container _container">
                <div class="header__left">
                    <div class="header__logo">
                        <div class="logo__example"></div>
                    </div>
                    <div class="header__logo__title">
                        <h1>Карьерный<br>Инженерный<br>Портал</h1>
                    </div>
                </div>
                <div class="header__right">
                    <img src="static/assets/images/person_icon.svg" alt="">
                </div>
            </div>
        </header>
        <main>
            <div class="account__container _container">
                <div class="account__inner__header">
                    <div class="account__header__left">
                        <div class="account__header__title">
                            <h1>ЛИЧНЫЙ </h1><h1>КАБИНЕТ</h1>
                        </div>
                        <a href="" class="order__cv__btn">Сгенерировать резюме</a>
                    </div>
                    <div class="user__avatar__wrapper">
                        <div class="user__avatar">
                            <img src="static/assets/images/user__avatar.png" alt="">
                        </div>
                        <div class="edit__avatar__item">
                            <img src="static/assets/images/icon_edit_avatar.svg" alt="">
                            <a href="">Изменить</a>
                        </div>
                    </div>
                    
                </div>
                <div class="account__inner__content">
                    <div class="account__cv__form__block">
                        <form action="" class="account__cv__form">
                            <div class="cv_name_item cv__form__item">
                                <div class="cv__form__title">
                                    <h4 class="">
                                        ФИО
                                    </h4>
                                </div>
                                
                                <input type="text" class="cv__form__input" name="cv__name">
                            </div>
                            <div class="birthDate__item cv__form__item">

                                <div class="cv__form__title">
                                    <h4 class="">
                                        Дата рождения
                                    </h4>
                                </div>
                                <input type="datetime" name="cv__birthdate" id="" class="cv__form__input">
                            </div>
                            <div class="univercity__item cv__form__item">

                                <div class="cv__form__title">
                                    <h4 class="">
                                        Университет
                                    </h4>
                                </div>
                                <input type="text" name="cv__univercity"id="" class="cv__form__input">
                            </div>
                            <div class="groupnumber__item cv__form__item">

                                <div class="cv__form__title">
                                    <h4 class="">
                                        Группа
                                    </h4>
                                </div>
                                <input type="text" name="cv__groupnumber"id="" class="cv__form__input">
                            </div>
                            <div class="cv__form__footer">
                                <div class="cv__student__check">
                                    <input type="checkbox" name="cv__student__checkbox" id="">
                                    <h6>Студент сейчас</h6>
                                </div>
                                <div class="cv__save__btn">
                                    <a href="">СОХРАНИТЬ</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="account__cv__preview">
                        <div class="cv__preview">
                            <img src="static/assets/images/cv_preview.png" alt="">
                            <div class="cv__demo">
                                <a href="" >ПРЕДПРОСМОТР</a>
                            </div>
                        </div>
                        
                        <a href="" class="download__preview">СКАЧАТЬ РЕЗЮМЕ</a>
                    </div>
                </div>

            </div>

        </main>
        
    </div>
</body>
</html>