<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
    <main>
        <div class="main__container _container">
            <div class="main__page__humans__image">
                <img src="/static/images/humans__image.png" alt="">
            </div>
            <div class="main__page__header">
                <div class="main__page__header__left">
                    <div class="main__page__header__logo"></div>
                    <div class="main__page__header__logo__title"><h1>Карьерный<br>Инженерный<br>Портал</h1></div>
                </div>
                <div class="main__page__header__right">
                    <a href="login" class="main__page__auth__btn">ВОЙТИ</a>
                </div>
            </div>
            <div class="main__page__inner">
                <div class="main__page__title">
                    <h1>КИП</h1>
                </div>
                <div class="main__page__subtitle">
                    <h6>Найди инженера <br>мечты</h6>
                </div>
                
                <div class="main__page__border"></div>
                <div class="main__page__offer">
                    <h6>Технологии, упрощающие <br>подбор специалистов</h6>
                </div>
                <div class="main__page__regist__btn">
                    <a href="register">Просмотр резюме</a>
                </div>
            </div>
            
        </div>
        <section class="main__page__partners__section">
            <div class="main__page__partners__section__container _container">
                <h1 class="main__page__partners__section__title">Уже 500 инженеров трудоустроены в ведущие компании</h1>
                <div class="main__page__partners__section__items">
                    <div class="main__page__partners__section__item"><img src="/static/assets/images/icl.png" alt=""></div>
                    <div class="main__page__partners__section__item"><img src="/static/assets/images/ozon_tech.png" alt=""></div>
                    <div class="main__page__partners__section__item"><img src="/static/assets/images/skaut.png" alt=""></div>
                    <div class="main__page__partners__section__item"><img src="/static/assets/images/tatneft.webp" alt=""></div>
                </div>
                <div class="main__page__partners__section__button">
                    <a href="login">Получить доступ к базе резюме</a>
                </div>
            </div>
            
        </section>
    </main>
    </div>
</body>
</html>