<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        .auth__switch .active {
            border-radius: 46px;
            background: #FFFFFF;
            color: #4D8DDB;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="login__container _container">
            <div class="telegram_bot_container" id="tg_alert">
                <div class="tg_alert_title">
                    <h1>Платформа доступна в Telegram</h1>
                </div>
                <div class="tg_bot_link">
                    <a href="https://t.me/KIPHubot" target="_blank">Перейти к боту КИПХаб</a>
                </div>
            </div>
            <div class="login__wrapper" id="login_wrapper">
                <div class="login__title">
                    <h1>АВТОРИЗАЦИЯ</h1>
                </div>
                <div class="login__form__wrapper">
                    <form action="#" class="login__form" id="loginForm">
                        <label for="email_input">Почта/Телефон</label>
                        <input type="text" id="email_input" placeholder="kip@yandex.ru" required>
                        <label for="password_input">Пароль</label>
                        <input type="password" id="password_input" placeholder="***********" required>
                        <input type="button" value="ВОЙТИ" id="auth_btn">
                    </form>
                </div>
                <div class="login__subtext">
                    Нет аккаунта?<br/>
                    <a href="register">Зарегистрируйся</a>
                </div>
            </div>
        </div>
        <div class="contacts__wrapper">
        <a href="https://t.me/KIP_support"><img src="static/assets/images/telegram.png" alt=""></a>
    </div>
    </div>

<script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    let roleId = 1; // 1 - студент, 2 - работодатель

    if (device.mobile() || device.tablet()){
        const login_container = document.getElementById("login_wrapper");
        const tg_alert = document.getElementById("tg_alert");
        login_container.style.display = 'none';
        tg_alert.style.display = 'flex';

        console.log("Мобилка");
    }

    document.getElementById("auth_btn").addEventListener("click", async function () {
    const email = document.getElementById("email_input").value.trim();
    const password = document.getElementById("password_input").value.trim();

    // Проверка на пустые поля
    if (!email || !password) {
        alert("Все поля должны быть заполнены.");
        return;
    }

    if (password.length < 8) {
        alert("Пароль должен быть не менее 8 символов.");
        return;
    }

    try {
        const response = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, password }),
            credentials: 'include' // Передаем cookie вместе с запросом
        });

        if (!response.ok) {
            const error = await response.json();
            alert(error.msg || "Ошибка авторизации.");
            return;
        }

        const result = await response.json();

        localStorage.setItem("user_id", result.user_id);
        console.log(`result.user_id`);
        localStorage.setItem("role_id", result.role_id);
        console.log(`result.role_id`);
        localStorage.setItem("id_pattern", result.id_pattern);
        console.log(`result.id_pattern`);
        localStorage.setItem("id_resume", result.id_resume);
        console.log(`result.id_resume`);
        localStorage.setItem("login", result.login);
        console.log(`result.login`);
        localStorage.setItem("password", result.password);
        console.log(`result.password`);
        localStorage.setItem("token", result.token);
        console.log(`result.token`);

        alert("Успешная авторизация!");

        if (result.role_id == "1") {
            window.location.href = "/userboard";
        } else {
            window.location.href = "/analytics";
        }
    } catch (error) {
        console.error("Ошибка:", error);
        alert("Не удалось подключиться к серверу.");
    }
});

});

</script>
</body>
</html>
