<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Template 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pattern_resume2.css') }}">
</head>
<body>
    <div class="resume-container">
        <!-- Left Column -->
        <div class="left-column">
            <header class="header">
                <h1> {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</h1>
                <div class="profile-picture">
                    <img src="data:image/jpeg;base64,{{ profile_image }}" alt="Profile Picture">
                </div>

            </header>

            <div class="contact-info">
                    <div class="contact-item">
                        <a href="tel:{{ user.phone }}" class="contact-link">
                            <img src="{{ url_for('static', filename='images/telephone2.png') }}" alt="Phone Icon" class="icon">
                            <span>{{ user.phone }}</span>
                        </a>
                    </div>
                    <div class="contact-item">
                        <a href="mailto:{{ user.email }}" class="contact-link">
                            <img src="{{ url_for('static', filename='images/mail2.png') }}" alt="Email Icon" class="icon">
                            <span>{{ user.email }}</span>
                        </a>
                    </div>
                    <div class="contact-item">
                        <a href="https://t.me/{{ user.telegram }}" class="contact-link" target="_blank">
                            <img src="{{ url_for('static', filename='images/telegram2.png') }}" alt="Telegram Icon" class="icon">
                            <span>{{ user.telegram }}</span>
                        </a>
                    </div>
                </div>

            <div class="about-me">
                    <h2>Обо мне</h2>
                    <p>{{ resume.about_me }}</p>
                </div>

                <!-- Проекты -->
                <section class="projects-section">
                    <h2>Проекты</h2>
                    {% for project in projects %}
                    <div class="project-item">
                        <a href="{{ project.project_link }}" style="color:black;"><strong>{{ project.project_name }}</strong></a>
                        <p>{{ project.project_description }}</p>
                        <div class="skills-section">
                            <div class="skills-list">
                                {% for skill in project_skills[project.id_project] %}
                                <div class="skill-chip">{{ skill.skill_name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
        </div>

        <!-- Right Column -->
        <div class="right-column">
            <section class="experience-section">
                    <h2>Опыт работы</h2>
                    {% for experience in experience_list %}
                    <div class="experience-item">
                        <div class="experience-header">
                            <p><b>{{ experience.position }}</b></p>
                            <p class="experience-year">{{ experience.start_date }} - {{ experience.end_date }}</p>
                        </div>
                        {% for organization in experience.organizations %}
                        <p class="direction">{{ organization.organization_name }}, {{ organization.location }}</p>
                        <p class="direction website">{{ organization.website }}</p>
                        {% endfor %}

                        {% if responsibilities_by_experience[experience.id_work] %}
                        <div class="responsibilities-section">
                            <h5>Обязанности:</h5>
                            <ul>
                                {% for responsibility in responsibilities_by_experience[experience.id_work] %}
                                <li>{{ responsibility.responsibility }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </section>

                <!-- Образование -->
                <section class="education-section">
                    <h2>Образование</h2>
                    {% for education in education_list %}
                    <div class="education-item">
                        <div class="education-header">
                            <p><b>{{ education.degree.degree_name }}</b></p>
                            <p class="education-year">{{ education.start_date }} - {{ education.end_date }}</p>
                        </div>
                        <p class="direction">{{ education.university.full_name }}, {{ education.university.location }}</p>
                        <p class="direction dir website">{{ education.direction.direction_code }} {{ education.direction.direction_name }}</p>

                        {% if tasks_by_education[education.group_number] %}
                        <div class="tasks-section">
                            <h4>Задачи:</h4>
                            <ol>
                                {% for task in tasks_by_education[education.group_number] %}
                                <li>
                                    <div class="task-header">
                                        <b>{{ task.task_name }}</b>
                                        <span class="task-type-chip">{{ task.task_type }}</span>
                                    </div>
                                    <span class="task-year">{{ task.task_description }}</span>

                                    <div class="skills-section">
                                        <h5>Используемые навыки:</h5>
                                        <div class="skills-list">
                                            {% for skill in skills_by_task[task.id_task] %}
                                            <div class="skill-chip">{{ skill.skill_name }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </section>

                <!-- Навыки -->
                <div class="skills-section">
                    <h2>Ключевые компетенции</h2>
                    <div class="skills-list">
                        {% for skill in skills %}
                        <div class="skill-chip">{{ skill.skill_name }}</div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
